export(exportDDI,
       setupfile,
       splitrows,
       treatPath,
       getDelimiter,
       getFiles,
       getMetadata,
       getEnter,
       writeRlist)
import(xml2)
import(foreign)
importFrom("utils", "file_test", "read.csv")
importFrom("stats", "na.omit")
